<!DOCTYPE html>
<html>
  <head>
    <title>MuleQuiz / Room #[attributes.uriParams.'gameId' default '']</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" type="text/css" href="./s/main.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <div id="app">
      <section id="header">
        <h1>MuleQuiz <button v-on:click="startGame" class="btn btn-primary btn-start"><b>Start &#x25B6;</b></button></h1>
        <div>
          <span>Your nickname:</span>
          <input class="input-nickname" v-on:keyup="saveNickname" v-model="nickname" placeholder="Player-*****">
        </div>
        <div id="players">
          <span>Players: </span>
          <span v-for="player in players">{{getNickname(player)}}(<b>{{player.score}}</b> pts) </span>
        </div>
        <div class="progress-bar progress-bar-no-arrow">
          <div class="progress-bar-filled" :style="{width: timeLeft*10 +'%'}"></div>
        </div>
          <div class="terminal-alert terminal-alert-primary">
            <transition name="custom-classes-transition" enter-active-class="animate__animated animate__flash" leave-active-class="animate__animated animate__fadeOut animate__fast" mode="out-in">
              <div :key="mainMessage">{{mainMessage}}</div>
            </transition>
          </div>
      </section>
      <section id="messages" ref="messages">
        <div v-for="message in messages"><b>{{message.from.nickname}}</b>: {{message.text}} <span v-if="message.rightAnswer">&#x1F44C</span></div>
      </section>
      <section id="newmsg">
        <input type="text" v-on:keyup.enter="send" v-model="newmsg" placeholder="> Type a new message / answer here"/>
      </section>
      <section id="footer">
      </section>
    </div>
    <script src="./s/app.js"></script>
  </body>
</html>