:root {
    --global-font-size: 13px;
    --global-line-height: 1.6em;
    --global-space: 4px;
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --tertiary-color: #a3abba;
    --secondary-color: #a3abba;
    --primary-color: #62c4ff;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
    --animate-duration: 800ms;
    --animate-delay: 0.1s;
  }

  html, body, #app{
    height: 100%;
  }

  #intro {
    padding: 12px;
  }

  #app {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content min-content;
  }

  #header {
    grid-row: 1;
  }

  #messages {
    grid-row: 2;
    overflow: scroll;
    padding-top: 10px;
  }

  #newmsg {
    grid-row: 3;
  }

  #footer {
    grid-row: 4;
  }

  .btn-start {
    padding: 0.1em 1.6em;
    font-size: 0.8em;
  }

  .input-nickname {
    border: 1px var(--input-style) var(--font-color);
    font-family: var(--font-stack);
  }